
Carnival_Results/carnival_results_top50tf_pleitropic_minsize15.rds
Carnival_Results/carnival_results_top50tf_pleitropic_minsize15_activation.rds
Carnival_Results/carnival_results_top50tf_pleitropic_minsize15_activationAttributes.txt
Carnival_Results/carnival_results_top50tf_pleitropic_minsize15_activationNetwork.sif
Carnival_Results/carnival_results_top50tf_pleitropic_minsize15Attributes.txt
Carnival_Results/carnival_results_top50tf_pleitropic_minsize15Network.sif
